[submodule "attendr-backend"]
	path = attendr-backend
	url = https://github.com/attendr/attendr-backend.git
[submodule "attendr-app"]
	path = attendr-app
	url = https://github.com/attendr/attendr-app.git
