[submodule "attendr-frontend"]
	path = attendr-frontend
	url = https://github.com/attendr/attendr-frontend.git
[submodule "attendr-backend"]
	path = attendr-backend
	url = https://github.com/attendr/attendr-backend.git
